/.idea/
/.vagrant/
/config/parameters.php
/config/dev/parameters.php
/var/analysis/*
/var/cache/*
/var/dev/archive/*
/var/dev/export/*
/var/dev/import/*
/var/log/*
/var/test/*
/var/tmp/*
/vendor/
!/var/analysis/.gitkeep
!/var/cache/.gitkeep
!/var/dev/archive/.gitkeep
!/var/dev/export/.gitkeep
!/var/dev/import/.gitkeep
!/var/log/.gitkeep
!/var/test/.gitkeep
!/var/tmp/.gitkeep
.php_cs.cache
.phpunit.result.cache
