{
    "timeout": 12,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "var\/analysis\/infection\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
